@import '../../main.scss';

.auth_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: $MAIN_PRIMAL_SAGE_COLOR;

  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    min-width: 25%;
    padding: 20px 40px;
    border-radius: 15px;

    background-color: $MAIN_PRIMARY_YELLOW_COLOR;

    @media (max-width: 1440px) {
      width: 60%;
    }

    @media (max-width: 768px) {
      width: 90%;
    }

    @media (max-width: 480px) {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    .auth_title {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title_name {
        font-size: 30px;
        font-weight: 500;
      }

      .title_subtitle {
        font-size: 20px;
      }
    }

    .auth_form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      @media (max-width: 480px) {
        margin-top: 30%;
      }

      .from_file_input {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: dotted 3px rgba(73, 94, 87, 0.5);
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        transition: ease-out 0.3s;

        &:hover {
          border: dotted 3px rgba(73, 94, 87, 1);
        }

        .file_preview {
          display: flex;
          align-items: center;
          gap: 20px;
          width: 100%;

          .file_image {
            width: 48px;
            height: 48px;
            border-radius: 50%;
          }
          .file_name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    .auth_change {
      font-size: 14px;

      .change_text {
        margin-bottom: 10px;
      }

      .change_subtext {
        display: flex;
        flex-direction: column;
        align-items: center;

        .subtext_link {
          font-size: 14px;
          color: $MAIN_PRIMAL_GREY_COLOR;
          transition: color 0.3s;

          &:hover {
            color: darken($MAIN_PRIMAL_SAGE_COLOR, 25%);
            text-decoration: underline;
          }

          &:focus {
            color: lighten($MAIN_PRIMAL_SAGE_COLOR, 40%);
            outline: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.auth_show {
  color: $MAIN_PRIMAL_SAGE_COLOR;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $MAIN_PRIMAL_GREY_COLOR;
}
