@import '../../main.scss';

.home_page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-height: 100vh;
  color: $WHITE_COLOR;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    padding: 50px 0;

    .header {
      display: flex;

      .user_info {
        flex: 1 1 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $MAIN_DARK_SAGE_COLOR;
        border-radius: 15px 0 0 0;
        padding: 20px;
        border-right: 3px solid $MAIN_SECONDARY_YELLOW_COLOR;

        @media (max-width: 1440px) {
          flex: 1 1 30%;
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          .user_icon {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            object-fit: cover;
          }
          .user_title {
            font-size: 20px;
            font-weight: 500;
          }
        }
        .user_settings {
          cursor: pointer;
        }
      }

      .message_user_info {
        flex: 1 1 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $MAIN_SECONDARY_SAGE_COLOR;
        border-radius: 0 15px 0 0;
        padding: 20px;
        .message_user_title {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    .container {
      display: flex;
      background-color: $MAIN_PRIMAL_SAGE_COLOR;
      border-radius: 0 0 15px 15px;
      height: 100%;

      .chats_info {
        flex: 1 1 20%;
        padding: 0 0 20px 20px;
        border-right: 3px solid $MAIN_SECONDARY_YELLOW_COLOR;

        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 1440px) {
          flex: 1 1 30%;
        }

        .search {
          margin-top: 20px;

          .search_input {
            width: 100%;
            .search_icon {
              cursor: pointer;
            }
          }
        }

        .search_item {
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 10px;
          border-bottom: 1px solid $MAIN_SECONDARY_YELLOW_COLOR;
          cursor: pointer;

          transition: ease-out 0.3s;

          &:hover {
            background-color: $MAIN_SECONDARY_YELLOW_COLOR;
            color: $BLACK_COLOR;
            border-bottom: none;
          }
          .user_icon {
            width: 46px;
            height: 46px;
            border-radius: 50%;
          }
        }

        .chat_list {
          display: flex;
          flex-direction: column;
          overflow: auto;

          .list_item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 5px;
            transition: 0.1s linear;
            cursor: pointer;
            color: $WHITE_COLOR;
            
            &.active {
              background-color: $MAIN_SECONDARY_YELLOW_COLOR;
            }

            &:hover {
              background-color: $MAIN_SECONDARY_YELLOW_COLOR;
              color: $BLACK_COLOR;
            }

            .user_icon {
              width: 46px;
              height: 46px;
              border-radius: 50%;
              transition: 0.1s linear;
            }
          }
        }
      }

      .message_info {
        flex: 1 1 70%;
        padding: 0 20px 20px;
        background-color: $MAIN_LIGHT_SAGE_COLOR;
        border-radius: 0 0 15px 0;

        .message_list {
          height: 90%;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 40px;
          overflow: scroll;

          .message_item {
            position: relative;
            width: 70%;

            background-color: $MAIN_DARK_SAGE_COLOR;
            border-radius: 10px;
            padding: 10px;

            margin-top: 20px;

            &.own {
              background-color: $MAIN_SECONDARY_YELLOW_COLOR;
              color: $BLACK_COLOR;

              align-self: flex-end;

              &::after {
                right: 10px;
                transform: rotate(90deg);
                border-color: $MAIN_SECONDARY_YELLOW_COLOR transparent transparent transparent;
              }
              .message_timestamp {
                opacity: 0;
                color: $MAIN_DARK_SAGE_COLOR;

                &.isHover {
                  opacity: 1;
                }
              }
            }

            &::after {
              position: absolute;
              content: '';
              bottom: -15px;

              border-style: solid;
              border-width: 15px 15px 0 0;
              border-color: $MAIN_DARK_SAGE_COLOR transparent transparent transparent;
            }
            .sender_message_info {
              display: flex;
              align-items: center;
              gap: 10px;

              .sender_icon {
                width: 24px;
                height: 24px;
                border-radius: 50%;
              }
              .sender_username {
                font-size: 18px;
              }
            }

            .message_images {
              img {
                width: 100%;
                height: 500px;
                border-radius: 10px;
                object-fit: cover;
                cursor: pointer;
              }

              .fullscreen-enabled {
                position: relative;

                // width: 100vw;
                // height: 100vh;
                & .close_button {
                  position: absolute;
                  top: 25px;
                  right: 25px;
                  width: 45px;
                  height: 45px;
                  color: $MAIN_PRIMAL_GREY_COLOR;
                  cursor: pointer;
                  transition: linear 0.1s;

                  &.isHover {
                    color: $MAIN_SECONDARY_GREY_COLOR;
                  }
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  cursor: auto;
                }
              }
            }
            .message_text {
              width: 95%;
              margin: 5px;
            }

            .message_timestamp {
              position: absolute;
              right: 7px;
              bottom: 3px;
              font-size: 14px;
              transition: linear 0.1s;
              opacity: 0;
              color: $MAIN_SECONDARY_GREY_COLOR;

              &.isHover {
                opacity: 1;
              }
            }
          }
        }

        .message_sender {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          padding-top: 10px;

          .preview_image {
            position: absolute;
            bottom: 75px;
            right: 100px;
            padding: 5px;

            border-radius: 10px;
            background-color: $MAIN_PRIMARY_YELLOW_COLOR;
            transition: linear 0.5s;

            &:hover {
              .close_icon {
                opacity: 1;
                z-index: 2;
                transition: linear 0.3s;

                &:hover {
                  color: $WHITE_COLOR;
                }
              }

              .upload_progress {
                opacity: 1;
              }
              img {
                filter: blur(2px) grayscale(25%);
              }
            }

            &::after {
              position: absolute;
              content: '';
              bottom: -15px;
              right: 10px;

              border-style: solid;
              border-width: 15px 15px 0 0;
              transform: rotate(90deg);
              border-color: $MAIN_PRIMARY_YELLOW_COLOR transparent transparent transparent;
            }

            .close_icon {
              position: absolute;
              top: 5px;
              right: 5px;
              color: $MAIN_SECONDARY_GREY_COLOR;
              opacity: 0;
              cursor: pointer;
            }

            img {
              width: 200px;
              height: 200px;
              border-radius: 10px;
              object-fit: cover;
              transition: linear 0.3s;
            }
          }

          .message_input {
            flex-grow: 1;
            width: 100%;
          }

          .message_items {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .icon_item {
              transition: linear 0.3s;

              cursor: pointer;
            }

            .picker {
              position: absolute;
              bottom: 50px;
              right: 5px;

              &::after {
                position: absolute;
                content: '';
                bottom: -13px;
                right: 10px;

                border-style: solid;
                border-width: 15px 15px 0 0;
                transform: rotate(90deg);
                border-color: $SECONDARY_BLACK_COLOR transparent transparent transparent;
              }
            }
          }

          .send_item {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $MAIN_INVISIBILITY_YELLOW_COLOR;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            transition: linear 0.3s;

            &:hover {
              background-color: $MAIN_VISIBILITY_YELLOW_COLOR;
            }
          }
        }
      }
    }
  }
}
